body{
	text-align: center;
	font: Helvetica;
}

h1 {
	font: Helvetica;
}

p {
	font: Helvetica;
	font-style: italic;
}

input[type=text]{
	width: 30px;
	font: Helvetica;
}

#form{
	padding: 4px;
}

#name{
	width:90px;
}

#returned{
	width: 300px;
	height: 300px;
}
